
<div class="container-fluid">
  <h1>Bases</h1>
  {{#if bases}}
  {{else}}
  <div class="">
    <i class="fa fa-info-circle"></i> You have not yet set up any Bases.
  </div>
  {{/if}}

  <a class="btn btn-success mt-3 mb-3" href="/bases/add">Add Base</a>
  
  {{#each bases}}
  <div class="bg-dark-transparent mb-2 p-3">
    
    <div class="float-right">
      <a class="btn btn-warning btn-sm mx-1" href="/bases/edit/{{id}}"><i class="fas fa-pencil-alt"></i> Edit</button>
      <a class="btn btn-danger btn-sm mx-1" href="/bases/delete/{{id}}"><i class="fas fa-trash-alt"></i> Delete</a>
    </div>
    {{name}} ({{place.name}})

  </div>
  {{/each}}

</div>
