
<div class="container-fluid">
  <h1>Bases</h1>
  {{#if bases}}
  {{else}}
  <div class="">
    <i class="fa fa-info-circle"></i> You have not yet set up any Bases.
  </div>
  {{/if}}

  <a class="btn btn-success mt-3 mb-3" href="/bases/add">Add Base</a>

  <div class="line"></div>
  
  {{#if bases}}
  <div class="bg-dark-transparent p-4">
    <table class="display datatable hover stripe">
      <thead>
        <tr>
          <th scope="col">Base Name</th>
          <th scope="col">Base Place</th>          
          <th></th>
        </tr>
      </thead>
      <tbody>
      {{#each bases}}
      <tr>
        <td>{{name}}</td>
        <td>{{place.countyName}}</td>
        <td>
          <div class="float-right">
            <a class="btn btn-warning btn-sm mx-1" href="/bases/edit/{{id}}"><i class="fas fa-pencil-alt"></i> Edit</a>
            <a class="btn btn-danger btn-sm mx-1" href="/bases/delete/{{id}}"><i class="fas fa-trash-alt"></i> Delete</a>
          </div>
        </td>
      </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
  {{/if}}

</div>
