<div class="bg-dark-transparent p-5">
  <h1>Add Age Group</h1>
  <p><i class="fas fa-info-circle"></i> Example of Age Grouop: "Adults: 18 to 99, Children: 3 to 17, Infants: 0 to 2.</p>

  <div class="line"></div>
  
  <div class="row">
    <div class="col-lg-12">

      <form class="form-inline" method="POST" action="/pax-types">
        <!-- Age From -->
        <label class="my-1 mr-2" for="age_from">Age From </label>
        <select class="custom-select my-1 mr-sm-2" id="age_from" name="age_from">      
          {{#times 99}}
          <option value="{{this}}" {{isSelected this ../age_from}}>{{this}}</option>
          {{/times}}
        </select>

        <!-- Age To -->
        <label class="my-1 mr-2" for="paxType">Age To </label>
        <select class="custom-select my-1 mr-sm-2" id="age_to" name="age_to">      
          {{#times 99}}
          <option value="{{this}}" {{isSelected this ../age_to}}>{{this}}</option>
          {{/times}}
        </select>

        <!-- Age Group Name -->
        <label class="my-1 mr-2" for="name">Name of Age Group</label>
        <input type="text" name="name" id="name" placeholder="Name of Age Group" class="form-control" value="{{name}}">

        <button type="submit" class="btn btn-primary my-1 ml-2">Submit</button>
      </form>

    </div>
  </div>

</div>