
<div class="container-fluid">
  <h1>Destinations</h1>
  {{#if routes}}
  {{else}}
  <div class="">
    <i class="fa fa-info-circle"></i> You have not yet set up any Destinations.
  </div>
  {{/if}}

  <a class="btn btn-success mt-3 mb-3" href="/routes/add">Add Destination</a>
  
  {{#each routes}}
  <div class="bg-dark-transparent mb-2 p-3">
    
    <div class="float-right">
      <a class="btn btn-success btn-sm mx-1" href="/routes/prices/{{id}}"><i class="fas fa-hand-holding-usd"></i> Prices</a>
      <a class="btn btn-warning btn-sm mx-1" href="/routes/edit/{{id}}"><i class="fas fa-pencil-alt"></i> Edit</a>
      <a class="btn btn-danger btn-sm mx-1" href="/routes/delete/{{id}}"><i class="fas fa-trash-alt"></i> Delete</a>
    </div>
    {{name}} => {{service.base.name}} - ({{service.name}})

  </div>
  {{/each}}

</div>
