<div class="container-fluid">
  <h1>Add Destination Prices</h1>

  <div class="bg-dark-transparent mb-2 p-3">
    {{route.name}} / {{route.service.base.name}} - ({{route.service.name}})
  </div>
  
  {{#if paxTypes}}
    <div class="p-3 m-3">
      <i class="fa fa-info-circle"></i> Enter the price for each Age Group.
    </div>

    <form class="form m-3" method="POST" action="/routes/prices/{{route.id}}">
      <div class="row">
        {{#each paxTypes}}
        <div class="bg-dark-transparent m-2 p-3 col-lg-3">
          <label for="{{id}}">{{name}}: {{age_from}}-{{age_to}} years old.</label>
          <input type="text" id="{{id}}" name="{{id}}" class="form-control" value="{{applyValue id ../paxPrices}}">
        </div>
        {{/each}}
      </div>
      <button type="submit" class="btn btn-primary my-1 ml-2">Submit</button>
    </form>
    
  {{else}}
    <div class="alert alert-danger mt-4">
      <i class="fa fa-info-circle"></i> You have to set up the Age Groups before you can add prices.
    </div>
    <div class="p-3">
      <a href="/pax-types/add" class="btn btn-success">Add Age Groups</a>
    </div>
  {{/if}}

</div>