<div class="container-fluid">
  <h1>Destination Prices</h1>

  <div class="bg-dark-transparent p-5">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Destination Name</th>
          <th scope="col">Destination Place</th>
          <th scope="col">Service Name</th>
          <th scope="col">Base Name</th>
          <th scope="col">Base Place</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{route.name}}</td>
          <td>{{route.place.countyName}}</td>
          <td>{{route.service.name}}</td>
          <td>{{route.service.base.name}}</td>
          <td>{{route.service.base.place.countyName}}</td>
        </tr>
      </tbody>
    </table>

    {{#if routePrices}}
    <div class="row">
      {{#each routePrices}}
      <div class="col-lg-3">
        <div class="bg-dark-transparent mb-2 p-3">
          {{paxType.name}} - {{price}}
        </div>
      </div>
      {{/each}}
    </div>

    <a class="btn btn-warning mt-3 mb-3" href="/routes/prices/{{route.id}}/edit">Edit Destination Prices</a>

    {{else}}
    <div class="mt-3 alert alert-danger">
      <i class="fa fa-info-circle"></i> You have not yet set up any Prices for this Destination.
    </div>
    <a class="btn btn-success mt-3 mb-3" href="/routes/prices/{{route.id}}/add">Add Destination Prices</a>
    {{/if}}
  </div>

</div>