
<div class="container-fluid">
  <h1>Services</h1>
  {{#if services}}
  {{else}}
  <div class="">
    <i class="fa fa-info-circle"></i> You have not yet set up any Services.
  </div>
  {{/if}}

  <a class="btn btn-success mt-3 mb-3" href="/services/add">Add Service</a>

  <div class="line"></div>
    
  {{#if services}}
    <div class="bg-dark-transparent p-4">
      <table class="display datatable hover stripe">
        <thead>
          <tr>
            <th scope="col">Service Name</th>
            <th scope="col">Base Name</th>
            <th scope="col">Base Place</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each services}}
          <tr>
            <td>{{name}}</td>
            <td>{{base.name}}</td>
            <td>{{base.place.countyName}}</td>
            <td>
              <div class="float-right">
                <a class="btn btn-warning btn-sm mx-1" href="/services/edit/{{id}}"><i class="fas fa-pencil-alt"></i> Edit</a>
                <a class="btn btn-danger btn-sm mx-1" href="/services/delete/{{id}}"><i class="fas fa-trash-alt"></i> Delete</a>
              </div>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{/if}}

</div>
