
<div class="container-fluid">
  <h1>Services</h1>
  {{#if services}}
  {{else}}
  <div class="">
    <i class="fa fa-info-circle"></i> You have not yet set up any Services.
  </div>
  {{/if}}

  <a class="btn btn-success mt-3 mb-3" href="/services/add">Add Service</a>
  
  {{#each services}}
  <div class="bg-dark-transparent mb-2 p-3">
    
    <div class="float-right">
      <a class="btn btn-warning btn-sm mx-1" href="/services/edit/{{id}}"><i class="fas fa-pencil-alt"></i> Edit</a>
      <a class="btn btn-danger btn-sm mx-1" href="/services/delete/{{id}}"><i class="fas fa-trash-alt"></i> Delete</a>
    </div>
    {{name}} ({{base.name}})

  </div>
  {{/each}}

</div>
